<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projectse.aads.task_tracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlanActivity"
            android:label="Task Tracker"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DailyPlanActivity"
            android:label="Task Tracker"></activity>
        <activity
            android:name=".PlugActivity"
            android:label="Plug !for debug only!">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TaskEditActivity"
            android:label="Editing Task"
            android:parentActivityName=".TaskOverviewActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TaskOverviewActivity" />
        </activity>

        <activity
            android:name=".TaskAddActivity"
            android:label="Adding new task"></activity>

        <activity
            android:name=".TaskOverviewActivity"
            android:label="Task Overview"></activity>

        <service
            android:name=".NotifyService.AlertReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":notificationservice"></service>
        <receiver android:name=".NotifyService.AlertReceiver"></receiver>

    </application>

</manifest>